torch
torchvision
adversarial-robustness-toolbox
kaggle
pygam
imodels
shap
lime
alibi
pydicom==2.1.2
pdpbox
rulefit @ git+https://github.com/christophM/rulefit.git
alepython @ git+https://github.com/MaximeJumelle/ALEPython.git
tcav @  git+https://github.com/tensorflow/tcav.git
